 <section class="about" id="about">
            <div class="container d-flex justify-content-between flex-column h-100">
                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h2 data-aos="heading-show" class="rect_heading">Who Am I</h2>
                                <p class="m-0">Get to know me</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-content flex-grow-1">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-6">
                            <div class="avatar-area m-auto">
                                <img src="assets/images/kolawole-adams.png" width="400" height="550" alt="Kolawole Adam's" class="img-fluid mx-auto">
                            </div>
                        </div>
                        <div class="col-md-6 mt-5 mt-md-0">
                                <h3 class="m-0">I'm Kolawole Adam's</h3>
                                <p class="my-4">Currently a third-year undergraduate student at the Ivorian Institute of Technology of Grand-Bassam in Côte d’Ivoire, I specialize in the field of networks and computer security. My passion for information technology, combined with my sense of objectivity and determination, forms the foundation of my academic and professional commitment.</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="about-info mb-2">
                                            <span class="desc">Full Name:</span>
                                            <span>Kolawole Adam's Christian Parthene</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="about-info mb-2">
                                            <span class="desc">Age:</span>
                                            <span>21 Years Old</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="about-info mb-2">
                                            <span class="desc">Experience:</span>
                                            <span>2 months</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="about-info mb-2">
                                            <span class="desc">Email:</span>
                                            <span>kolawolechristianpatherne@gmail.com</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="button_and_social my-4">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-xl-6">
                                            <button type="button" class="btn btn-outline-primary btn-lg" (click)="downloadCv()">Download CV</button>
                                        </div>
                                        <div class="col-xl-6">
                                            <ul class="social-icons list-inline mt-4 mt-xl-0">
                                               
                                                <li class="list-inline-item">
                                                    <a href="https://www.linkedin.com/in/kolawole-adams-christian-a84642396/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                                                        <i class="fab fa-linkedin-in"></i>
                                                    </a>
                                                </li>
                                               
                                                <li class="list-inline-item">
                                                    <a href="https://github.com/theblit" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>