<section class="home d-flex" id="home">
            <!--Particle Background-->
            <div class="background-particle" id="particlebackground" data-config="./assets/pj-config-light.json"></div>
            <!--End of Particle Background-->
            <div class="container introduction text-center" >
                <p class="welcome_text mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150">I'm a <span class="welcome-text-type" data-options="Network administrator" ></span></p>
                <div id="parallax-scene" class="mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
                    <div class="heading-zone">
                        <h1>Kolawole Adam's</h1>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="1200" data-aos-delay="450">
                    <a href="#about" class="btn  btn-primary btn-small">Learn More</a>
                </div>
            </div>
            <div class="scroll-down">
                <a href="#about" class="scroll-down-link text-center hoveroff">
                    <div class="scroll-title">Scroll Down</div>
                    <div class="scroll-mouse">
                        <div class="whell"></div>
                    </div>
                </a>
            </div>
        </section>