<section class="contact" id="contact">
            <div class="container d-flex flex-column justify-content-between h-100 ">
                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h2  data-aos="heading-show" class="rect_heading">Get in Touch</h2>
                                <p class="m-0">It is a long established fact that a reader will be distracted by the readable content</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-content flex-grow-1">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="d-flex flex-row flex-sm-column flex-md-row justify-content-md-center mb-3 text-left text-sm-center text-md-left">
                                <div class="contact-icon mr-md-3 mr-3 mr-sm-0">
                                    <span class="mbri-letter"></span>
                                </div>
                                <div class="contact-details mt-2">
                                    <h5>Email Us</h5>
                                    <p><a href="mailto:kolawolechristianpatherne@gmail.com">kolawolechristianpatherne@gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex flex-row flex-sm-column flex-md-row justify-content-md-center mb-3 text-left text-sm-center text-md-left">
                                <div class="contact-icon mr-md-3 mr-3 mr-sm-0">
                                    <span class="mbri-mobile"></span>
                                </div>
                                <div class="contact-details mt-2">
                                    <h5>Call</h5>
                                    <p><a href="tel:+1000123456789">+225 01 43 23 07 38</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex flex-row flex-sm-column flex-md-row justify-content-md-center mb-3 text-left text-sm-center text-md-left">
                                <div class="contact-icon mr-md-3 mr-3 mr-sm-0">
                                    <span class="mbri-map-pin"></span>
                                </div>
                                <div class="contact-details mt-2">
                                    <h5>Visit</h5>
                                    <p>Abidjan, CIV</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-5">
                        <div class="col-lg-12">
                            <form action="php/form.php" method="post" id="contact-form">
                                <div class="row">
                                    <div class="col-lg-6 mt-3">
                                        <div class="form-group">
                                            <input type="text" name="name" id="name" class="form-control" autocomplete="off" required>
                                            <label>Full Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mt-3">
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" class="form-control" autocomplete="off" required>
                                            <label>Email</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                        <div class="form-group">
                                            <input type="text" name="subject" id="subject" class="form-control" autocomplete="off" required>
                                            <label>Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                        <div class="form-group">
                                            <textarea name="text" id="text"  rows="6" class="form-control" required></textarea>
                                            <label>Message</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mt-3">
                                        <div class="form-group mb-0 text-right">
                                            <button type="submit" id="contact-btn" class="btn btn-outline-primary btn-bg">
                                                Send Message
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>


            </div>
        </section>