 <section class="services" id="service">
            <div class="container d-flex flex-column justify-content-between h-100 ">

                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h2 data-aos="heading-show" class="rect_heading">What I Do</h2>
                                <p class="m-0">In my blood is the love for network technologiesbut I can do more than that !!!!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-content flex-grow-1">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mt-4 mb-2">
                            <div class="service-single text-center p-5">
                                <div class="service-icon">
                                    <span class="mbri-setting"></span>
                                </div>
                                <h3 class="my-3">Basic Web Development</h3>
                                <p>I develop basic websites for small businesses and personal projects.
                                    Technologies: HTML, CSS, JavaScript, Python, Flask, Django
                                    school website, portfolio website, digitalization of SMEs

                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mb-2">
                            <div class="service-single text-center p-5">
                                <div class="service-icon">
                                    <span class="mbri-laptop"></span>
                                </div>
                                <h3 class="my-3">CyberSecurity</h3>
                                <p> _operational security methods
                                    _I identify the vulnerabilities and test the security 
                                    _network security
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mb-2">
                            <div class="service-single text-center p-5">
                                <div class="service-icon">
                                    <span class="mbri-mobile2"></span>
                                </div>
                                <h3 class="my-3">design network topologies</h3>
                                <p> I've created complex network topologies for businesses and homes.
                                    Equipment: Cisco, Huawei</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mb-2">
                            <div class="service-single text-center p-5">
                                <div class="service-icon">
                                    <span class="mbri-layers"></span>
                                </div>
                                <h3 class="my-3">network Protocols used </h3>
                                <p>IPv4, IPv6, TCP, UDP, HTTP, HTTPS, FTP, SMTP, POP3, IMAP, DNS, DHCP, NAT, BGP, OSPF, RIP, SMTP, etc...</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mb-2">
                            <div class="service-single text-center p-5">
                                <div class="service-icon">
                                    <span class="mbri-sites"></span>
                                </div>
                                <h3 class="my-3">Work Environment</h3>
                                <p>Design Network: ENSP(Huawei), Cisco Packet Tracer(Cisco), Eve-ng, 
                                   cyberspace: Kali Linux, Debian, Ubuntu,
                                   programming: Visual Studio Code, Visual Studio Installer, Cursor
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mb-2">
                            <div class="service-single text-center p-5">
                                <div class="service-icon">
                                    <span class="mbri-wifi"></span>
                                </div>
                                <h3 class="my-3">fix basics troubleshooting</h3>
                                <p> I fix basics troubleshooting in networks topologies.
                                     </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>