  <footer class="horizontal-footer shadow-footer">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-12">
                        <div class="text-center">
                            <ul class="social-icons list-inline mt-5">
                                
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/kolawole-adams-christian-a84642396/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                
                                <li class="list-inline-item">
                                    <a href="https://github.com/theblit" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                                        <i class="fab fa-git"></i>
                                    </a>
                                </li>
                                
                            </ul>
                            <p class="copyright-text mt-3 mb-5">2021 ©. RectCV Template. Developed and Designed by <b>themesuccess</b></p>
                        </div>
                    </div>
                </div> 
            </div>
               
               
           
        </footer>