 <section class="resume" id="resume">

            <div class="container d-flex flex-column justify-content-between h-100 ">

                <div class="section-title flex-grow-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h2  data-aos="heading-show" class="rect_heading">My Experience</h2>
                                <p class="m-0">This is my WAY</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-content flex-grow-1">
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <h3 class="mb-4">Education</h3>
                            <ul class="list-inline resume-list">
                                <li>
                                    <h4 class="mb-2">Collège Catholique St Jean Bosco</h4>
                                    <span class="time">2021 - 2022</span>
                                    <p class="my-2">I graduated with Baccalaureate in Sciences with honors, fairly good</p>
                                </li>
                                <li>
                                    <h4 class="mb-2">First Year in computer science at Emmaus University </h4>
                                    <span class="time">2022 - 2023</span>
                                    <p class="my-2">I made my first Year in general computer science in this University </p>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-6">
                            <h3 class="mb-4">Experience</h3>
                            <ul class="list-inline resume-list">
                                <li>
                                    <h4 class="mb-2">UTT Loko</h4>
                                    <span class="time">2023 - 2024</span>
                                    <p class="my-2">I'm specialized in computer Networks and telecommunications in my second year at this university, witch was successful.</p>
                                </li>
                                <li>
                                    <h4 class="mb-2">Institut Ivorian of technology</h4>
                                    <span class="time">2025 - 2026</span>
                                    <p class="my-2">Even if I specilized in computer Networks I also did website development work for SMEs. I graduated  Network administrator level</p>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>Networks Protocols</span>
                                        <span class="text-right progress-percent">75%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="75" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>Network Administration</span>
                                        <span class="text-right progress-percent">65%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="65" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>HTML 5</span>
                                        <span class="text-right progress-percent">80%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="80" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>CSS 3</span>
                                        <span class="text-right progress-percent">80%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="80" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>Virtualization (VirtualBox)</span>
                                        <span class="text-right progress-percent">90%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="90" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>python </span>
                                        <span class="text-right progress-percent">50%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="50" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>Cisco packet Tracer, Eve-ng, ENSP </span>
                                        <span class="text-right progress-percent">80%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="80" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>Linux and his distributions (Debian, Ubuntu, Kali Linux) </span>
                                        <span class="text-right progress-percent">75%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="75" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>Js</span>
                                        <span class="text-right progress-percent">20%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="20" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        
                        
                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>Monitoring</span>
                                        <span class="text-right progress-percent">75%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="75" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="col-lg-6">
                            <div class="skill d-flex flex-row pr-4 pr-sm-3 px-3 mb-4">
                                <div class="skill-progress flex-grow-1">
                                    <div class="progresss-info d-flex flex-row justify-content-between mt-2 mb-1">
                                        <span>English </span>
                                        <span class="text-right progress-percent">60%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-percent="60" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>

        </section>