 <div class="section project backgound-section" style="background-image: url(https://via.placeholder.com/1920x1080)">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row box p-5 mx-3 mx-md-0 align-items-center text-center">
                            <div class="col-md-4 m-0 mb-3 mb-md-0">
                                <h3 class="m-0">Create a Website</h3>
                            </div>
                            <div class="col-md-4 m-0 mb-3 mb-md-0">
                                <p class="m-0">We can create and develop together.</p>
                            </div>
                            <div class="col-md-4">
                                <a href="#contact" class="btn btn-outline-primary">Let's do this</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>