 <div class="section facts backgound-section" style="background-image: url(https://via.placeholder.com/1920x1080)" data-aos-id="facts">

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                        <div class="fact-single text-center">
                            <div class="fact-icon">
                                <span class="mbri-timer"></span>
                            </div>
                            <div class="fact-info">
                                <span class="tmcounter" data-from="0" data-to="1" data-speed="1500">1</span>+
                            </div>
                            <div class="fact-meta">
                                <span>Years Experiance</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                        <div class="fact-single text-center">
                            <div class="fact-icon">
                                <span class="mbri-smile-face"></span>
                            </div>
                            <div class="fact-info">
                                <span class="tmcounter" data-from="0" data-to="2" data-speed="1500">2</span>+
                            </div>
                            <div class="fact-meta">
                                <span>Happy Clients</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                        <div class="fact-single text-center">
                            <div class="fact-icon">
                                <span class="mbri-magic-stick"></span>
                            </div>
                            <div class="fact-info">
                                <span class="tmcounter" data-from="0" data-to="6" data-speed="1500">6</span>
                            </div>
                            <div class="fact-meta">
                                <span>Projects Done</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
                        <div class="fact-single text-center">
                            <div class="fact-icon">
                                <span class="mbri-save"></span>
                            </div>
                            <div class="fact-info">
                                <span class="tmcounter" data-from="0" data-to="0" data-speed="1500">0</span>
                            </div>
                            <div class="fact-meta">
                                <span>Download</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>